html{
    font-family: 'Segoe UI';
}
.inp_file{
    border: 1px solid wheat;
    width: 99px;
    cursor: pointer;
    border-radius: 4px;
}
.inp_sub{
    border: 2px solid rgb(137, 225, 137);
    width: 93px;
    cursor: pointer;
    height: 35px;
    color: rgb(137, 225, 137);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.inp_sub:hover{
    background-color: rgb(137, 225, 137);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.div3{
    background-color: rgba(255, 0, 0, 0.422);
    height: 50px;
    width: 444px;
    animation: border_alert 3s infinite alternate;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 236, 236);
    border: 4px solid rgb(147, 38, 38);
    margin-top: 10px;
}
@keyframes border_alert {
    10%{
        border: 4px solid red;
    }
    50%{
        border: 4px solid rgb(201, 21, 21);
    }
    100%{
        border: 4px solid rgb(112, 12, 12);
    }
}
.div4{
    background-color: rgba(9, 255, 0, 0.422);
    height: 50px;
    width: 444px;
    animation: border_alert2 3s infinite alternate;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 236, 236);
    border: 4px solid rgb(58, 147, 38);
    margin-top: 10px;
}
@keyframes border_alert2 {
    10%{
        border: 4px solid rgb(0, 255, 4);
    }
    50%{
        border: 4px solid rgb(33, 201, 21);
    }
    100%{
        border: 4px solid rgb(32, 112, 12);
    }
}
